// настройте некоторые переменные Bootstrap
$brand-primary:         darken(#428bca, 20%);

#filter > div > div {
    padding-top: 10px;
    border: 1px solid #dddddd;
    margin: 0px 15px;
}
#table { 
    padding: 0px 5px 5px 5px;
    background: #f9f6f6;
    box-shadow: inset 0px 0px 3px rgb(175, 173, 173);  
    height: 344px;  
    overflow-y: scroll;
}

#table table {
    border-width: 0px;
    position: relative;
    top: 33px;
}

table > tbody > tr > td {
    width: 20%;
}

#table table > thead > tr > th {
    border-left-width: 0px; 
    border-right-width: 0px;
    position: relative;
    cursor: pointer;
    width: 20%;
}

#table table > thead {
    border-top: 1px solid #dddddd;
    top: 63px;
    border-right: 1px solid #dddddd;
}

.sorted {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
}
.sorted.disable {    
    background-image: url('./images/sort_both.png');    
}

.sorted.asc {
    background-image: url('./images/sort_asc.png');
}

.sorted.desc {
    background-image: url('./images/sort_desc.png');
}

// ~ позволяет вам ссылаться на вещи в node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';